<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <h2>Please enter Puppy Information:</h2>
    <p>Name: <input type="text" name="name"></p>
    
  </body>
</html>