<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Puppy Info!</h1>
    <p>Name: <br><%= @newpup.name%></p>
    <p>Breed: <br><%= @newpup.breed%></p>
    <p>Age: <br><%= @newpup.age%></p>
  </body>
</html>