<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Puppy Info!</h1>
    <p>Name: </p>
    <p><%= @newpup.name%></p>
    <p>Breed: </p>
    <p><%= @newpup.breed%></p>
    <p>Age: </p>
    <p><%= @newpup.age%></p>
  </body>
</html>