<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Puppy Info!</h1>
    <p>Name: <%= puts puts @newpup.name%></p>
    <p>Breed: <%= @newpup.breed%></p>
    <p>Age: <%= @newpup.age%></p>
  </body>
</html>