<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Puppy Info!</h1>
    <p>Name: <%="\n" @newpup.name%></p>
    <p>Breed: <%="\n" @newpup.breed%></p>
    <p>Age: <%="\n" @newpup.age%></p>
  </body>
</html>